html, body {
  padding: 0;
  margin: 0;
}

.bright-part {
  background-color: rgb(233, 233, 233);
  height: 90vh;
}

.gradient-part {
  background-image: linear-gradient(to right, white, black);
  height: 10vh;
}

.dark-part {
  background-color: rgb(14, 14, 14);
  height: 85vh;
}